<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.dfml.helptraductor">
    <uses-permission android:name = "android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.M"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EscucharHablarTraductor" android:theme="@style/sinBarra"></activity>
        <activity
            android:name=".OpcionesMensajes"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".CrearMensajes"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".ListaMensajes"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".OpcionesContactos"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".CrearContacto"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".ListaContactos"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".ListaDiccionarios"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".ListaApliacaciones"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".ListaVideos"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".RegistrarUsuario"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".MenuPrincipal"
            android:theme="@style/sinBarra" />
        <activity
            android:name=".PantallaPrincipal"
            android:theme="@style/sinBarra">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>